[Unit]
Description=tcllcd
#Requires=lcdd.service
#After=lcdd.service
Requires=lcdd.service gpsd.service postgresql.service
After=lcdd.service gpsd.service postgresql.service

[Service]
ExecStart=/usr/bin/tclsh /home/peter/git/tcllcd/tcllcd.tcl
WorkingDirectory=/home/peter/git/tcllcd/

[Install]
WantedBy=multi-user.target

