[Unit]
Description=LCD display driver
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/LCDd -c /usr/local/etc/LCDd.conf

[Install]
WantedBy=multi-user.target

